# Environment
.env
.env.*

# Dependencies
node_modules/
vendor/

# Laravel runtime
bootstrap/cache/*
!bootstrap/cache/.gitignore

storage/*
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore

# Vite / frontend build
public/build/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Logs
npm-debug.log
yarn-error.log

# Sensitive
CREDENTIALS.md
